<main class="mainWrapper">
    <section class="bannerSliderWrppr">
        <div class="row">
            <app-sliders></app-sliders>
        </div>
    </section>

    <section class="categorySliderWrppr">
        <div class="row">
            <app-category></app-category>
        </div>
    </section>
    
    <section class="gridCardWrppr">
        <div class="row">
            <app-grid-card></app-grid-card>
        </div>
    </section>

    <section class="tabsWrppr">
        <div class="row">
            <app-tabs></app-tabs>
        </div>
    </section>

    <section class="bannerWrppr">
        <div class="row">
            <app-banner></app-banner>
        </div>
    </section>
    
    <section class="recommendedProductsWrppr">
        <div class="row">
            <app-recommended-products></app-recommended-products>
        </div>
    </section>
</main>